body {
  padding: 2px;
}
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.aspect-ratio img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.menu {
  display: inline;
  margin-right: 15px;
}
