#content {
  /*width: 75%;*/
  min-width: 650px;
  text-align: left;
}

#livedata {
  /*border: 1px solid black;*/
}

#livedata input.small {
    text-align: right;
}

#livedata input.changed {
  background-color: #a0d297;
}

#livedata label {
  font-size: xx-small;
}

.tracer {
    right: 20px;
    top: 10px;
    position: absolute;
}
