<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/solar-icon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="application/javascript"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <title>Datenverlauf</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Solar Station</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">{{ translations.menu_stats }}</a></li>
                <li><a href="live.html">{{ translations.menu_live }}</a></li>
                <li><a href="#"
                       onclick="window.open('live.html?popup=1','live','width=1032,height=216,left=0,top=0,toolbar=no,location=no,scrollbars=no,status=no');">{{
                    translations.open_in_popup }}</a></li>
                {% if camera %}
                <li><a href="cam.html">{{ translations.live_stream }}</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
  <h3>{{ translations.stats_header }}</h3>
  <img src="static/solar/graph_daily.png">&nbsp;
  <img src="static/solar/graph_daily_current.png">&nbsp;
  <img src="static/solar/graph_daily_power.png">&nbsp;
</body>
</html>
