<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="../static/img/solar-icon.png">
    <title>Live Daten</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/solar-icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/live.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/solar.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        window.setTimeout(fetchLiveData, 200);
    </script>
</head>
<body>
{% if not request.args.get('popup') %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Solar Station</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">{{ translations.menu_stats }}</a></li>
                <li class="active"><a href="live.html">{{ translations.menu_live }}</a></li>
                <li><a href="#"
                       onclick="window.open('live.html?popup=1','live','width=1032,height=216,left=0,top=0,toolbar=no,location=no,scrollbars=no,status=no');">{{
                    translations.open_in_popup }}</a></li>
                {% if camera %}
                <li><a href="cam.html">{{ translations.live_stream }}</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<h3>{{ translations.live_data_header }}</h3>
{% endif %}
<div id="content">
    <div id="livedata" class="container">
        <form id="liveForm">
            <div class="row">
                <div class="form-group col-xs-2">
                    <label for="arrayCurrent">{{ translations.panel_current }} (A)</label><br>
                    <input id="arrayCurrent" class="form-control input-sm small" type="text" disabled
                           placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="batteryVoltage">{{ translations.battery_voltage }} (V)</label><br>
                    <input id="batteryVoltage" class="form-control input-sm small" type="text" disabled
                           placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="batteryCurrent">{{ translations.battery_current }} (A)</label><br>
                    <input id="batteryCurrent" class="form-control input-sm small" type="text" disabled
                           placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="loadCurrent">{{ translations.load_current }} (A)</label><br>
                    <input id="loadCurrent" class="form-control input-sm small" type="text" disabled placeholder="---"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                    <label for="arrayVoltage">{{ translations.panel_voltage }} (V)</label><br>
                    <input id="arrayVoltage" class="form-control input-sm small" type="text" disabled
                           placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="batteryMaxVoltage">{{ translations.battery_max_voltage }} (V)</label><br>
                    <input id="batteryMaxVoltage" class="form-control input-sm small" type="text" disabled
                           placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="batteryMinVoltage">{{ translations.battery_min_voltage }} (V)</label><br>
                    <input id="batteryMinVoltage" class="form-control input-sm small" type="text" disabled
                           placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="loadPower">{{ translations.load_power }} (W)</label><br>
                    <input id="loadPower" class="form-control input-sm small" type="text" disabled placeholder="---"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-2">
                    <label for="arrayPower">{{ translations.panel_power }} (W)</label><br>
                    <input id="arrayPower" class="form-control input-sm small" type="text" disabled placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="batteryTemp">{{ translations.battery_temperature }} (&#8451;)</label><br>
                    <input id="batteryTemp" class="form-control input-sm small" type="text" disabled placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="batterySoc">{{ translations.battery_soc }} (%)</label><br>
                    <input id="batterySoc" class="form-control input-sm small" type="text" disabled placeholder="---"/>
                </div>
                <div class="form-group col-xs-2">
                    <label for="panelMaxVoltage">{{ translations.panel_max_voltage }} (V)</label><br>
                    <input id="panelMaxVoltage" class="form-control input-sm small" type="text" disabled
                           placeholder="---"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-xs-8">
                    <div id="container" style="height: 300px; width: 100%; text-align: center;"></div>
                </div>
            </div>
        </form>
        {% if request.args.get('popup') %}
        <img class="tracer" src="{{ url_for('static', filename='img/tracer_a.png') }}" width="180"
             alt="Epsolar Tracer A Series">
        {% endif %}
    </div>

</div>

<script type="text/javascript">
    var chart = Highcharts.chart('container', {
        title: {
            text: '{{ translations.menu_stats }}'
        },
        yAxis: {
            title: {
            text: null
            },
            floor: 0,
            ceiling: 140,
            min: 0,
            max: 140
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '{{ translations.panel_power}}',
            data: []
        }, {
            name: '{{ translations.panel_power }}',
            data: []
        }
        ]
    });
</script>
</body>
</html>
